:root {
  --primary-text-color-main: #212121;
  --secondary-text-color-main: #757575;
  --primary-text-color-opposit: #ffffff;
  --secondary-text-color-opposit: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --color-accent: #2196f3;
  --color-accent-secondary: #188ce8;
  --primary-background-color-main: #c59b9b;
  --secondary-background-color-next: #f5f4fa;
  --secondary-background-color-opposit: #2f303a;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --hero-background-color: #c4c4c4;
  --icon-soc-color: #afb1b8;
  --secondary-text-color-opposit-more-transparent: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --transition-hover-focus-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus-bgd-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus-shadow-color: box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus-border-color: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-text-color-main);
  background-color: var(--primary-background-color-main);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-opposit);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo__accent {
  color: var(--color-accent);
}
.logo--opposite {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.logo--header {
  color: var(--logo-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
  flex-wrap: wrap;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 93px;
    width: 281px;
    justify-content: space-between;
  }
}
.nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-main);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--transition-hover-focus-color);
}
.nav__link.accent {
  color: var(--color-accent);
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-accent);
}
.nav__item {
  display: block;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 0;
  }
}
.contacts__item {
  display: block;
}
@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-left: 50px;
  }
}
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-main);
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
  flex-wrap: wrap;
  transition: var(--transition-hover-focus-color), var(--transition-hover-focus-fill);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-accent);
}
.contacts__icon {
  fill: currentColor;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: currentColor;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-opposit);
  background-color: var(--color-accent);
  display: block;
  align-items: center;
  transition: var(--transition-hover-focus-bgd-color);
}
.button:hover, .button:focus {
  background-color: var(--color-accent-secondary);
}

.title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
}
.title--margin {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title--margin {
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cos {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cos__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  flex-wrap: wrap;
  transition: var(--transition-hover-focus-bgd-color);
}
.cos__link:hover, .cos__link:focus {
  background-color: var(--color-accent);
}
.cos__link--footer-color {
  background-color: var(--secondary-text-color-opposit-more-transparent);
  transition: var(--transition-hover-focus-bgd-color);
}
.cos__link--footer-color:hover, .cos__link--footer-color:focus {
  background-color: var(--color-accent);
}
.cos__icon {
  fill: var(--icon-soc-color);
  transition: var(--transition-hover-focus-fill);
}
.cos__link:hover .cos__icon, .cos__link:focus .cos__icon {
  fill: var(--primary-background-color-main);
}
.cos__icon--change-fill {
  fill: var(--primary-background-color-main);
}
.cos--team {
  margin-left: 32px;
  margin-right: 32px;
}

.filter {
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.filter__btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color-next);
  color: var(--primary-text-color-main);
  padding: 6px 25px;
  transition: var(--transition-hover-focus-color), var(--transition-hover-focus-bgd-color), var(--transition-hover-focus-shadow-color);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-text-color-opposit);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__btn:active {
  background-color: var(--color-accent);
  color: var(--primary-text-color-opposit);
}

.address {
  font-style: inherit;
  display: inline-block;
  min-width: 231px;
  text-align: center;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__contact {
  line-height: 1.71;
  color: var(--secondary-text-color-opposit);
  transition: var(--transition-hover-focus-color);
}
.address__contact:hover, .address__contact:focus {
  color: var(--color-accent);
}
.address__contact--first {
  color: var(--primary-text-color-opposit);
  transition: var(--transition-hover-focus-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 609px;
  scroll-snap-align: center;
  background: var(--primary-background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 300ms linear;
}
@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: 528px;
    height: 581px;
  }
}
.modal__close {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  border-width: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-background-color-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  flex-wrap: wrap;
  padding: 0;
  transition: var(--transition-hover-focus-fill);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--color-accent);
}
.modal__form {
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}
.modal__appeal {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-main);
}
@media screen and (min-width: 1200px) {
  .modal__appeal {
    line-height: 1.15;
  }
}
.modal__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.modal__wrap {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-main);
}
.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:last-child {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input:last-child::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:last-child::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:focus-visible {
  outline-color: var(--color-accent);
}
.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: var(--transition-hover-focus-fill);
}
.modal__input:focus-visible + .modal__icon {
  fill: var(--color-accent);
}
.modal__btn--send {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  padding: 10px 28px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-background-color-main);
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 300ms linear;
}
.menu__close {
  font-family: inherit;
  cursor: pointer;
  border-width: 0;
  width: 40px;
  height: 40px;
  background: var(--primary-background-color-main);
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  flex-wrap: wrap;
  padding: 0;
  transition: var(--transition-hover-focus-fill);
}
.menu__close:hover, .menu__close:focus {
  fill: var(--color-accent);
}

.nav__list--menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav__link--menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 0;
  padding-bottom: 0;
}

.nav__item--menu {
  margin-bottom: 32px;
}

.contacts--menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.contacts__link--menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.contacts__link--menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.cos-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.cos-menu__item {
  padding-right: 10px;
}

.cos-menu__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.cos-menu__link {
  color: var(--color-accent);
}

.check__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-main);
  transition: var(--transition-hover-focus-fill);
}
@media screen and (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check__imput:checked + .check__text span {
  border: none;
  fill: var(--color-accent);
}
.check__wrap {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--transition-hover-focus-fill);
  transition: var(--transition-hover-focus-border);
}
.check__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-accent);
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accent::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
}

.menu__open {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-width: 0;
  text-align: center;
  background-color: var(--primary-background-color-main);
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.hero {
  background-color: var(--hero-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile/hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tablet/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tablet/hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1600px) {
  .hero {
    width: 1600px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-opposit);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  min-width: 216px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
.hero__button:hover, .hero__button:focus {
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.features__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 481px) {
  .features__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}
.features__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background: var(--secondary-background-color-next);
  border-radius: 4px;
}
.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color-main);
}

.doing {
  display: none;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}
.doing__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: none;
  flex-wrap: wrap;
}
.doing__item {
  position: relative;
}
.doing__text {
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-opposit);
  padding-top: 27px;
  padding-bottom: 27px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
}

.team {
  background-color: var(--secondary-background-color-next);
}
.team__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  width: 100%;
  background-color: var(--primary-background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 481px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__job {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color-main);
  margin-bottom: 16px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.clients__item {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: inline-block;
  height: 92px;
  border: 1px solid var(--icon-soc-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  flex-wrap: wrap;
  transition: var(--transition-hover-focus-border-color);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--color-accent);
}
.clients__logo {
  fill: var(--icon-soc-color);
  transition: var(--transition-hover-focus-fill);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--color-accent);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .examples {
    min-width: 1170px;
  }
}
.examples__item {
  flex-basis: 100%;
  transition: var(--transition-hover-focus-shadow-color);
}
@media screen and (min-width: 481px) {
  .examples__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .examples__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .examples__item:nth-of-type(3n) {
    margin-right: 0;
  }
}
.examples__item:hover, .examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__img {
  position: relative;
  overflow: hidden;
}
.examples__discription {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-opposit);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.examples__item:hover .examples__discription, .examples__item:focus .examples__discription {
  transform: translateY(0);
}
.examples__card {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}
.examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-main);
  margin-bottom: 4px;
}
.examples__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color-main);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color-opposit);
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer__combiner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__combiner {
    margin-bottom: 0;
    margin-right: 93px;
  }
}
.footer__address {
  margin-left: auto;
  margin-right: auto;
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}
.footer__appeal {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-opposit);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__appeal {
    text-align: start;
  }
}
.footer__cos {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__cos {
    margin-top: 0;
  }
}
.footer__form {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__form {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__label {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
.footer__input {
  display: block;
  align-items: center;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-opposit);
  background-color: var(--secondary-background-color-opposit);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__input:focus-visible {
  outline-color: var(--color-accent);
}
@media screen and (min-width: 481px) {
  .footer__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    padding-left: 16px;
    width: 358px;
  }
}
.footer__button {
  display: flex;
  gap: 10px;
  min-width: 200px;
  padding: 10px 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer__button:hover, .footer__button:focus {
  box-shadow: 0px 4px 4px var(--shadow-color);
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__icon {
  fill: var(--primary-background-color-main);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */