.cos {
  // @include flex($ai: center, $jc: center, $gp: 10px);
  display: flex;
  justify-content: center;
  gap: 10px;
  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flex($ai: center, $jc: center, $gp: none);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    transition: var(--transition-hover-focus-bgd-color);
    &:hover,
    &:focus {
      background-color: var(--color-accent);
    }
    &--footer-color {
      background-color: var(--secondary-text-color-opposit-more-transparent);

      transition: var(--transition-hover-focus-bgd-color);
      &:hover,
      &:focus {
        background-color: var(--color-accent);
      }
    }
  }
  &__icon {
    fill: var(--icon-soc-color);
    transition: var(--transition-hover-focus-fill);
    .cos__link:hover &,
    .cos__link:focus & {
      fill: var(--primary-background-color-main);
    }
    &--change-fill {
      fill: var(--primary-background-color-main);
    }
  }
  &--team {
    margin-left: 32px;
    margin-right: 32px;
  }
}
